@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
    width:100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding:0;
}
.main{
   background: rgba(255, 144, 14, 0.1);
   padding-bottom: 24px;
}
.background{
    background-color: #ffff;
}
.container{
    width:80%;
    margin:0 auto;
}
/* shared css */
.font-name{
    font-family: "Work Sans", serif;
}
.flex{
    display: flex;
}
.primary-btn{
    background:#FF900E;
    border:none;
    color:#ffffff;
    padding:21px 25px;
    border-radius: 8px;
    font-size: 1.25rem;
    cursor: pointer;
}

.primary-btn a{
    color:#ffffff;
}
.margin{
    margin:100px 0px;
}
/* shared css end */
/* nav starts */
nav{
    padding-top: 66px;
    justify-content:space-between;
    align-items: center;
}
nav div ul{
    gap: 30px;
}
.logo h2{
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3rem;
    color:#131313;
    
}
nav .menu a {
   
    color: #424242;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.6rem;
    margin-top: 79px;
}
nav .menu a:hover{
    color:#131313;
    font-weight: 700;
    transition: 0.5s;
}
/* nav ends */
/* banner starts */
.banner-content{
    text-align: center;
    max-width: 862px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 100px;
}
.banner-content h1{
    font-weight: 700;
    font-size: 3.5rem;
    color:#131313;
    line-height: 4.6rem;
    
}
.banner-content p{
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color:#727272;
}
/* banner ends */
/* responsive header */
@media screen and (max-width: 575px) { 
   nav{
    flex-direction: column;
   }
   .banner-content h1 {
    font-size:2rem;
    line-height: 2.5rem;
   }
   .banner-content p{
    font-size:0.5rem;
    line-height:1rem;
   }
 }
 @media screen and (min-width: 576px) and (max-width: 768px) {
    nav{
        flex-direction: column;
       }
       .banner-content h1 {
        font-size:2.5rem;
        line-height:3rem;
       }  
       .banner-content p{
        font-size:0.5rem;
        line-height:1rem;
       }
  }
  @media screen and (min-width: 769px) and (max-width: 992px) {
    .banner-content h1 {
        font-size:3rem;
        line-height:3.5rem;
       }  
  }
  /*header responsive ends */
  /* Feature part starts */
  .feature{
    display: flex;
    align-items: center;
  }
  .feature-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:10px;
  
  }
  .feature-content{
    margin-left: 70px;
    max-width: 537px;
  }
  .feature-content p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    color:#727272;
    margin: 24px 0px;
  }
  .last-part,
  .first-part {
    color:#FF900E;
    font-weight: 500;
    font-weight: 2.8rem;
  }
  .first-part{
    color:#727272;
}
  /* feature part ends */
  /* responsive feature part */
  @media screen and (max-width: 575px){
    .feature{
        flex-direction: column;
    }
    .feature-image{
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 40px;
    }
    .feature-content{
        margin-left: 30px;
       
      }
  }
  @media screen and (min-width: 576px) and (max-width: 768px){
    .feature{
        flex-direction: column;
    }
    .feature-image{
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 40px;
    }
  }
  @media screen and (min-width: 769px) and (max-width: 992px) {
    .feature{
        flex-direction: column;
    }
    .feature-image{
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 40px;
    }
  }
   /* responsive feature part ends */
   /* feature experience starts */
  
    .experience{
    justify-content: space-between;
    align-items: center;
}
   .experience-header h3{
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.2rem;
    color:#131313;
    border-left: 5px solid#FF900E;
    padding-left: 21px;
   }
   .experience-header p {
    margin-left: 21px;
    font-weight: 7400;
    font-size: 1rem;
    line-height: 1.6rem;
    color:#727272;
    margin-right: 28px;
   }
  .experience-image{
    width:474px;
  }
   .experience-image img{
    max-width: 100%;
    
   }
  .experience-content{
    max-width:392px;
  }
    .secondery-button {
    padding:46px 42px;
    background:#FF900E ;
    border:none;
    border-radius: 8px;
    color:#ffffff;
    transform: translateY(-100px);
    margin-left: -40px;
    font-size: 1.5rem;
   }
   .secondery-button button b{
    font-size: 4rem;
   }
   .feature-experience-content {
    padding:30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin: 20px 0px;
    border-radius: 8px;
    width:392px;
    gap:60px;
   }
   .feature-experience-content h3{
    color:#131313;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.4rem;
   }
   .feature-experience-content p {
    color:rgba(114, 114, 114, 1);
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.2rem;
   }
   /* feature experience ends */
   /* responsive .feature-experience starts */
   @media screen and (max-width: 575px){
    
    .secondery-button{
      margin-left: -20px;
    }
    .experience{
        flex-direction: column;
        justify-content: center;
    }
    .experience-content{
        width:100%;
        margin:0px 5px;
    }
    .secondery-button{
        display: none;
    }
    .experience-header h3{
        font-size: 1.8rem;
    }
   }
   @media screen and (min-width: 576px) and (max-width: 768px){
    .experience{
     flex-direction: column;
     justify-content: center;
    }
    .experience-content{
        width:100%;
    }
    .secondery-button{
        margin-left: 6px;
      }
    .secondery-button{
        display: none;
    }
    .experience-header h3{
        font-size: 1.8rem;
    }
   }
   @media screen and (min-width: 769px) and (max-width: 992px){
    .experience{
        flex-direction: column;
        justify-content: center;
       }
       .experience-content{
           width:100%;
           margin:0 auto;
       }
       .secondery-button{
           margin-left: 6px;
         }
         .experience-header h3{
            font-size: 2rem;
        }
   }
  
      /* responsive .feature-experience ends */